@charset "utf-8";

@font-face {
  font-family: "yg-jalnan";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local("yg-jalnan"), url("Jalnan2.woff2") format("woff2"), url("Jalnan2.woff") format("woff"),
    url("Jalnan2.ttf") format("truetype"), url("Jalnan2.otf") format("opentype");
}
